body{
    background: linear-gradient(blue 10%,red 40%,green 70%);
    background-size: cover;
}


h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
}

a{
    background-color: aqua;
}